.FullPost {
  width: 80%;
  margin: 20px auto;
  padding: 25px;
  border: 1px solid #ccc;
}

.FullPost-btn-edit,
.FullPost-btn-back {
  width: 130px;
  color:  #33363B;
  background-color: #DADCDB;
}

.FullPost-btn-delete {
  width: 150px;
  background-color: #E57373;
  color: #D50000;
}
.FullPost-btn-delete:hover {
  background: #B71C1C;
  color: #F5F5F5;
}
.FullPost-btn-edit,
.FullPost-btn-delete,
.FullPost-btn-back {
  height: 47px;
  line-height: 47px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: 25px 10px 5px 0;
}
.post-time {
  color: #4c4c4c;
}
.FullPost-btn-edit:hover {
  background: #757575;
  color: #F5F5F5;
}
.FullPost-btn-back:hover {
  background: #757575;
  color: #F5F5F5;
}