.post-item {
  width: 60%;
  margin: 20px auto;
  padding: 15px 25px;
  border: 1px solid #ccc;
}

.post-time {
  color: #4c4c4c;
}

.post-btn {
  width: 140px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color:  #333;
  text-decoration: none;
  background-color: #E0E0E0;
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: 25px 20px 0 0;
}
.post-btn:hover {
  background: #757575;
  color: #F5F5F5;
}