body {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.2;
  min-width: 320px;
  background: #fff;
}

.container {
  max-width: 1140px;
  min-width: 320px;
  margin: 0 auto;
}